<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wingedvampires.attention">

    <application>
        <activity android:name=".view.CommentsActivity">
        </activity>
        <activity android:name=".view.AttentionActivity">
        </activity>
    </application>

</manifest>