<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.yookie.discover">

    <application>
        <activity
                android:name="com.yookie.discover.MoreActivity"
                android:windowSoftInputMode="stateVisible|adjustPan"></activity>
        <activity
                android:name="com.yookie.discover.DiscoverActivity"
                android:windowSoftInputMode="stateVisible|adjustPan"></activity>
    </application>

</manifest>